:root{
  --secondary-col:lightgray;
  --primary-col:#516988;
  --light-comp-col:white;
  --dark-comp-col:darkgray;
  --background-col:#111e2f;
  --dark-accent:#aecce4;
  --text-col:white;
  --button-col:#bcbfb6;

  --box-shadow:0 0 10px 10px;
  --footer-col:var(--button-col); 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: var(--text-col);
}

html{
  background-color: var(--background-col);
}

img{
  width: 100%;
}

picture{
  overflow: hidden;
  max-width: 35em;
}

nav{
  display: grid;
  grid-template-columns: 80% 20%;
  height: 3em;
  align-items: center;
  justify-items: center;
}

footer{
  background-color: var(--footer-col);
  box-shadow: var(--box-shadow) var(--footer-col);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 20vh;
}

footer > ul, footer > section{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
}

input{
  width: 80%;
}

.hamburger-menu{
  position: fixed;
  top: 0;
  right: -200%;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;  
  transition: 0.4s;
}

.hamburger-menu ul{
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

.hamburger-menu li{
  border: black solid;
  width: 100%;
  margin: 1em 0;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hamburger */
.hamburger .hamburger-bar, .hamburger:after, .hamburger:before{
content: '';
display: block;
width: 80%;
height: 0.3em;
margin: 0.1em;
background-color:var(--text-col);
transition: 0.4s;
}

.hamburger-container{
  z-index: 3;
}

.hamburger:after{
  width: 60%;
}
.hamburger:before{
  width: 100%;
}

.hamburger{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  width: 2.5em;
  min-width: 2.5em;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.hamburger-menu.is-active{
  right: 0;
  background-color: var(--dark-comp-col);
}


/* hamburger */

.page-structure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  display: grid;
  grid-template-rows: auto auto auto;
  min-height: 100vh;
}

button{
  border:solid var(--secondary-col);
  background-color: var(--dark-comp-col);
  color: white;
}

.public-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-col);
  padding: 1em 0;
  box-shadow: var(--box-shadow) var(--primary-col);
}

.text-contents{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
}

/* container properties */

/* car container */

.car-image{
  width: 80%;
}

.car-container{
  width: 100%;
}

.car-container .public-content{
  margin: 1em 0;
}

.details-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.details-button button{
  width: 5em;
}

.container, .container-special{
  margin: 0 2em;
  background-image:none;
}

/* car container */

/* staff container */

.staff-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.staff-container .public-content{
  margin: 1.5em 0.7em;
  padding: 0.5em;
}

.staff-container img{
  max-width: 10em;
}

/* staff container */

/* about container */

.about-container{
  margin: 3em 1em;
}

.about-container .public-content > *{
  margin: 1em 1em;
}

/* .company-img{
  width: 90%;
} */

/* Popup */

.popup-cover{
  width: 100vw;
  height: 100vh;
  background-color: rgb(128, 128, 128, 0.4);
  position:fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
}

.popup-style{
  background-color: var(--primary-col);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  width: 95%;
  min-height: 65vh;
  max-width: 60em;
  z-index: 6;
}

h4{
  background-color: var(--secondary-col);
  width: 50%;
  text-align: center;
  margin: auto;
}

.popup-style h4{
  grid-column: 1 / 3;
  text-align: center;
}

.popup-style img{
  grid-column: 1 / 3;
}

.popup-style ul{
  margin: 0 2%;
  padding: 1% 2%;
  background-color: var(--dark-accent);
}

.popup-style ul li{
  margin: 0.5% 0;
}

.button-container{
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5%;
}

@media only screen and (min-width: 600px) {
  .container-special{
    margin:0.5em 0;
    grid-column: 1 / 3;
    overflow: hidden;
    height: 40vh;
    box-shadow:var(--box-shadow) black;
  }
  .container-special picture{
    display: none;
  }
  .container-special .public-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
    box-shadow: none;
  }

  .container-special .car-info{
    margin: 0;
    
  }

  .container-special .text-contents{
    background-color: black;
    width: auto;
    margin-left: 2em;
  }

  .container picture{
    width:100%;
    margin-bottom: 7vh;
  }

  .public-content p{
    margin-bottom: 9vh;
  }

  .car-container .public-content{
    padding: 0;
    margin: 0;
    width: 80%;
    min-height: 25em;
  }

  .container{
    margin: 1em 0;
    padding: 0;
    height: 30em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-special .details-button{
    justify-content: flex-start;
  }

  .car-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  nav{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .hamburger-container{
    grid-area: 1 / 3;
  }

  .about-container > .public-content{
    background-color: transparent;
    background-image: linear-gradient(to right, var(--primary-col) 50%, white 0%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
  }

  .about-container .public-content > picture{
    grid-area: 1 / 2 / span 2;
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }


  .popup-style{
    min-height: 1px;
    height: 40em;
    max-width: 40em;
  }

  .hamburger-menu{
    width: 30%;
  }

  .hamburger-menu ul{
    width: 20vw;
  }

  .staff-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .staff-container .public-content{
    min-height: 20em;
    width: 80%;
    margin: 3em;
  }
  .staff-container img{
    width: 100%;
    max-width: 20em;
    margin-bottom: 2em;
  }

}

@media only screen and (min-width: 769px){
  nav{
    grid-template-columns: 1fr 3fr 1fr;
  }

  .public-content picture, .public-content p{
    width:100%;
    margin-bottom: 0;
  }

  .hamburger-menu{
    width: 20%;
  }
  .hamburger-menu ul{
    width: 15vw;
  }
}